body{
    background-color: rgb(99, 0, 63);
}
.dope{
    text-align: center;
}li{
    text-align: center;
    display: inline-block;
    margin: 30px;
    padding:30px
}
li:hover{
    font-size: 50px;
    color: pink;
    
}
nav{
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: rgb(175, 244, 255);
}
.msmcdade{
    text-align: center;
  
}
h1::first-letter{
    font-family:cursive;
    font-size: 3cm;
    color:orange;
    text-shadow: 5px 8px 9px yellow;
}
h1::first-line{
    color: rgb(0, 136, 255);
    text-shadow: 5px 8px 10px rgb(128, 168, 255);
}
}